<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{$i('ChoiceLanguage')}}</label>
                    <select class="form-control" v-model="objData.code" placeholder="" ref="code"
                            :disabled="objData.code != ''">
                        <option v-for="(lang,key) in allLanguages" :value="key" :key=key>{{lang[0]}} -
                            {{lang[1]}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{$i('Name')}}</label>
                    <input type="text" class="form-control" v-model="objData.name" ref="name"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Position')}}</label>
                    <input type="text" class="form-control" v-model="objData.priority"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Status')}}</label>
                    <select class="form-control" v-model="objData.status">
                        <option value="1">{{ $i('Active') }}</option>
                        <option value="0">{{ $i('DeActived') }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="saveLanguageCms()">
                <span>{{ $i('Save') }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        props: ['languageCode'],
        data() {
            return {
                objData: {
                    code: '',
                    name: '',
                    priority: 1,
                    status: 1,
                },
            }
        },
        computed: {
            ...mapGetters(['allLanguages']),
        },
        watch: {},
        methods: {
            ...mapActions(['getDetailLanguage', 'saveLanguage']),
            getDetailLanguageCms() {
                if (this.languageCode != '') {
                    this.objData.code = this.languageCode;
                    this.getDetailLanguage(this.objData).then((response) => {
                        if (response.success) {
                            this.objData = response.data;
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
            saveLanguageCms() {
                if (this.languageCode == '') {
                    if (!this.objData.code) {
                        this.$refs.code.focus();
                        return this.$message(this.$i('LabelErrorEmptyCode'), 'error');
                    }
                }
                if (!this.objData.name) {
                    this.$refs.name.focus();
                    return this.$message(this.$i('LabelErrorEmptyName'), 'error');
                }
                this.saveLanguage(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.$emit('closePopup');
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
        },
        created() {
            this.getDetailLanguageCms();
        }
    }
</script>
