﻿<template>
    <nav class="sidebar sidebar-offcanvas" :class="offcanvas ? 'active' : ''" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                        <div class="profile-image">
                            <avatar id="current_member_avatar" slot="right"
                                    :username="currentUser.name == null ? 'M' : currentUser.name"
                                    backgroundColor="#2a3142"
                                    color="#fff"
                                    :size="45"
                                    :src="currentUser.avatar" ></avatar>
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name text-capitalize">{{currentUser.name}}</p>
                            <div>
                                <small class="designation text-muted">FrontEnd - Developer</small>
                                <span class="status-indicator online"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item" v-for="v in menu" :key="v.name" v-if="v.permission ? $isPermiss(v.permission) : true">
                <router-link v-if="!v.children" class="nav-link" :to="v.link">
                    <i class="menu-icon" :class="v.icon"></i>
                    <span class="menu-title">{{v.name}}</span>
                </router-link>
                <div v-else>
                    <a class="nav-link" data-toggle="collapse" :href="`#` + v.name" aria-expanded="false"
                       aria-controls="bill-dropdown">
                        <i class="menu-icon" :class="v.icon"></i>
                        <span class="menu-title">{{v.name}}</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" :id="v.name">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item" v-for="item in v.children" :key="item.name" v-if="item.permission ? $isPermiss(item.permission) : true">
                                <router-link class="nav-link" :to="item.link">
                                    {{$i(item.name)}}
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</template>
<script>
    import Vue from 'vue'

    export default {
        props: ['offcanvas'],
        data() {
            return {
                menu: [
                    {
                        name: 'Dashboard',
                        icon: 'mdi mdi-television',
                        link: 'dashboard',
                    },
                    {
                        name: 'Language',
                        icon: 'mdi mdi-language-javascript',
                        link: 'language',
                        permission: 1
                    },
                    {
                        name: 'Resource',
                        icon: 'mdi mdi-cellphone-iphone',
                        link: '',
                        children: [
                            {name: 'Contact', link: 'contact'},
                        ]
                    },
                    {
                        name: 'SystemConfig',
                        icon: 'mdi mdi-settings',
                        link: '',
                        children: [
                            {name: 'User', link: 'user', permission: 1},
                            {name: 'Role', link: 'role', permission: 1},
                            {name: 'Setting', link: 'setting', permission: 1},
                        ]
                    }
                ]
            }
        },
        computed: {
            lang() {
                return Vue.config.lang
            }
        },
        methods: {

        }
    }
</script>
