<template>
    <wrapper :title="$i('Setting')"
             sapo="">
        <div class="dn-content-left setting">
            <form action="#" @submit.prevent="saveSettingCms" class="form-horizontal">
                <div class="row">
                    <div class="col-xl-6 stretch-card">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('General') }}</h3>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('StorageDomain')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.storageDomain"
                                               :placehoder="$i('StorageDomain')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-6">
                                        <label class="tit">{{$i('Mode')}}</label>
                                        <select class="form-control" v-model="objData.config_mode">
                                            <option value="development">{{ $i('Development') }}</option>
                                            <option value="production">{{ $i('Production') }}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6" v-if="objData.config_mode === `development`">
                                        <label class="tit">{{$i('StorageApiUrlLocal')}}</label>
                                        <input type="text" v-model="objData.storageApiUrlLocal"
                                               :placehoder="$i('StorageApiUrlLocal')"
                                               class="form-control"></input>
                                    </div>
                                    <div class="col-lg-6" v-if="objData.config_mode === `production`">
                                        <label class="tit">{{$i('StorageApiUrlProduct')}}</label>
                                        <input type="text" v-model="objData.storageApiUrlProduct"
                                               :placehoder="$i('StorageApiUrlProduct')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-6">
                                        <label class="tit">{{$i('LanguageDefault')}}</label>
                                        <select class="form-control" v-model="objData.config_language">
                                            <option v-for="item in languages" :value="item.code">{{ item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="tit">{{$i('LanguageDefaultAdmin')}}</label>
                                        <select class="form-control" v-model="objData.config_language_admin">
                                            <option v-for="item in languages" :value="item.code">{{ item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="tit">{{$i('CurrencyUnit')}}</label>
                                        <input type="text" v-model="objData.config_currency"
                                               :placehoder="$i('CurrencyUnit')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('MetaTitle')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.config_meta_title"
                                               :placehoder="$i('MetaTitle')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('MetaDescription')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea rows="3" class="form-control"
                                                  v-model="objData.config_meta_description"
                                                  :placehoder="$i('MetaDescription')"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 stretch-card">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Company') }}</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('CompanyName')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.config_name"
                                               :placehoder="$i('StoreName')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Address')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.config_address"
                                               :placehoder="$i('Address')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('EMail')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.config_email"
                                               :placehoder="$i('EMail')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Telephone')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.config_telephone"
                                               :placehoder="$i('Telephone')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Facebook')}}</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" v-model="objData.config_facebook"
                                               :placehoder="$i('Facebook')"
                                               class="form-control"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 stretch-card">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Image') }}</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('StoreLogo')}}</label>
                                    </div>
                                    <div class="col-lg-6 logo">
                                        <photo-drag-drop :src="objData.config_logo" v-on:change="changeImage"
                                                         :height="`100px`"></photo-drag-drop>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <label class="tit">{{$i('Icon')}}</label>
                                    </div>
                                    <div class="col-lg-6 icon">
                                        <photo-drag-drop :src="objData.config_icon" v-on:change="changeIcon"
                                                         :width="`40px`"
                                                         :height="`40px`"></photo-drag-drop>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 stretch-card">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h3 class="mt-0 header-title">{{ $i('Server') }}</h3>
                                <div class="row mt-3">
                                    <div class="col-lg-6">
                                        <label class="tit">{{$i('Maintenance')}}</label>
                                        <select class="form-control" v-model="objData.config_maintenance">
                                            <option value="1">{{ $i('Yes') }}</option>
                                            <option value="0">{{ $i('No') }}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="tit">{{$i('Debug')}}</label>
                                        <select class="form-control" v-model="objData.config_debug">
                                            <option value="1">{{ $i('Yes') }}</option>
                                            <option value="0">{{ $i('No') }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <button class="btn btn-primary" style="width: 80px; margin-right: 30px;">
                            <span>{{ $i('Save') }}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import PhotoDragDrop from '../_common/photo-drag-drop';

    export default {
        data() {
            return {
                objData: {
                    storageDomain: '',
                    storageApiUrlLocal: '',
                    storageApiUrlProduct: '',
                    config_name: '',
                    config_meta_title: '',
                    config_meta_description: '',
                    config_address: '',
                    config_email: '',
                    config_telephone: '',
                    config_logo: '',
                    config_icon: '',
                    config_maintenance: 0,
                    config_mode: 'development',
                    config_debug: 1,
                    config_language: '',
                    config_currency: '',
                    config_language_admin: '',
                    config_facebook: '',
                },
                objLanguage: {status: 1,}
            }
        },
        computed: {
            ...mapGetters(['listSetting', 'languages']),
        },
        components: {
            'photo-drag-drop': PhotoDragDrop
        },
        watch: {},
        methods: {
            ...mapActions(['getListSetting', 'saveSetting', 'getListLanguages']),
            getListSettingCms() {
                this.getListSetting().then((response) => {
                    if (response.success) {
                        this.objData = response.data;
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            saveSettingCms() {
                this.saveSetting(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.getListSettingCms();
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            getListLanguagesCms() {
                this.getListLanguages(this.objLanguage).then(() => {
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            },
            changeImage(src) {
                this.objData.config_logo = src;
            },
            changeIcon(src) {
                this.objData.config_icon = src;
            }
        },
        created() {
            this.getListLanguagesCms();
            this.getListSettingCms();
        }
    }
</script>
