<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{$i('FullName')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('FullName')"
                           v-model="objData.fullName"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Email')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Email')"
                           v-model="objData.email"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Phone')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Phone')"
                           v-model="objData.phone"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Address')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Address')"
                           v-model="objData.address"/>
                </div>
                <div class="form-group">
                    <label>{{$i('Note')}}</label>
                    <input type="text" class="form-control" :placeholder="$i('Note')"
                           v-model="objData.note"/>
                </div>
                <div v-if="contactId > 0" class="form-group">
                    <label>{{$i('Status')}}</label>
                    <select class="form-control" v-model="objData.status">
                        <option value="1">{{ $i('Active') }}</option>
                        <option value="0">{{ $i('DeActived') }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" v-on:click="addContact()">
                <span v-if="contactId">{{ $i('Save') }}</span>
                <span v-else>{{ $i('Add') }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import { mapActions} from 'vuex';

    export default {
        props: ['contactId'],
        data() {
            return {
                objData: {
                    id: 0,
                    fullName: '',
                    email: '',
                    phone: '',
                    address: '',
                    note: '',
                    status: 1,
                },
            }
        },
        methods: {
            ...mapActions(['getDetailContact', 'updateContact']),
            getContact() {
                if (this.contactId) {
                    this.getDetailContact({id: this.contactId}).then(res => {
                        this.objData = res.data;
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                }
            },
            addContact() {
                this.updateContact(this.objData).then((response) => {
                    if (response.success) {
                        this.$message(this.$i('Successful'));
                        this.$emit('closePopup');
                    }
                }).catch((error) => {
                    return this.$message(error.message, 'error');
                });
            }
        },
        created() {
            this.getContact();
        },
    }
</script>