<template>
    <wrapper :title="$i('ContactList')" sapo="">
        <div class="card">
            <div class="card-body">
                <div class="dn-content-left">
                    <div class="d-flex">
                        <div class="form-group">
                            <input type="text" v-model="objDataSearch.name" :placeholder="$i('Keyword')" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" v-model="objDataSearch.status">
                                <option :value="-1">{{$i('SelectStatus')}}</option>
                                <option :value="1">{{$i('Active')}}</option>
                                <option :value="0">{{$i('DeActived')}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-info" type="button" v-on:click="getData(1)" :value="$i('Search')"/>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="button" @click="openPopup(0)" :value="$i('Add')"/>
                        </div>
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="width-100">{{$i('Index')}}</th>
                                <th>{{$i('FullName')}}</th>
                                <th>{{$i('Email')}}</th>
                                <th>{{$i('Phone')}}</th>
                                <th>{{$i('Note')}}</th>
                                <th class="text-center width-150">{{$i('Action')}}</th>
                            </tr>
                            </thead>
                            <tbody v-if="listContact">
                            <tr v-for="(v, index) in listContact" class="post-item-group">
                                <td>{{ index + 1 }}</td>
                                <td>
                                    <a href="javascript:;" @click="openPopup(v.id)" class="text-primary">{{ v.fullName }}</a>
                                </td>
                                <td>{{v.email}}</td>
                                <td>{{v.phone}}</td>
                                <td>{{v.note}}</td>
                                <td class="btn-action text-center">
                                    <button :title="$i('Remove')" class="btn btn-icons btn-danger" v-if="v.status == 1"
                                            @click="changeStatus(v, index)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button :title="$i('Publish')" class="btn btn-icons btn-primary" @click="changeStatus(v, index)"
                                            v-else>
                                        <i class="fa fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <pager :total="contactCount" :pageIndex="objDataSearch.page" :pageSize="objDataSearch.per_page"
               @change="pageChange"/>
        <modal v-if="popupEditContact" :title="$i(this.titleModal)"
               @close="popupEditContact = false">
            <div slot="body">
                <editContact :contactId="this.contactId"
                             v-on:closePopup="closePopup()"></editContact>
            </div>
        </modal>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import editContact from './edit';

    export default {
        components: {
            'editContact': editContact,
        },
        data() {
            return {
                objDataSearch: {
                    id: -1,
                    name: '',
                    status: 1,
                    page: 1,
                    per_page: 3,
                },
                titleModal: '',
                popupEditContact: false,
                contactId: 0,
            }
        },
        computed: {
            ...mapGetters(['listContact', 'contactCount']),
        },
        methods: {
            ...mapActions(['getListContact', 'updateContact']),
            getData(index) {
                let loading = this.$loading.show();
                if (index) {
                    this.objDataSearch.pageIndex = index;
                }
                this.getListContact(this.objDataSearch).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            pageChange(pageNum) {
                this.$set(this.objDataSearch, 'page', pageNum);
                this.getData();
            },
            changeStatus(obj, index) {
                this.$confirm(this.$i('DoYouWantChangeStatus')).then(() => {
                    obj.status = obj.status == 1 ? 0 : 1;
                    this.updateContact(obj).then((response) => {
                        if (response.success) {
                            this.$message(this.$i('Successful'));
                            this.getData();
                        }
                    }).catch((error) => {
                        return this.$message(error.message, 'error');
                    });
                });
            },
            closePopup() {
                this.popupEditContact = false;
                this.getData();
            },
            openPopup(id) {
                if (id > 0) {
                    this.titleModal = 'TitleEditContact';
                } else {
                    this.titleModal = 'TitleAddContact';
                }
                this.popupEditContact = true;
                this.contactId = id;
            },
        },
        created() {
            this.getData();
        }
    };
</script>
<style>
    .dn-content-left .d-flex .form-group {
        margin-right: 10px;
    }
</style>